body{
    background-image: url("../img/background\ image.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 60px;
    text-align: center;
    color: #ff004f;
}

#content{
    margin-left: 20%;
    margin-right: 20%;
}

#article{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
}